<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 5.3//EN"  
          "http://hibernate.sourceforge.net/hibernate-configuration-5.3.dtd">  
  
<hibernate-configuration>  
  
    <session-factory>
    	<!-- IMPORTANT -->  
        <property name="hbm2ddl.auto">update</property>  
        
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>  
        
        <property name="connection.url">jdbc:mysql://192.168.64.4:3306/test</property>  
        <property name="connection.username">mysql</property>  
        <property name="connection.password">mysql</property>  
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>  
	      
        <mapping resource="user.hbm.xml"/>  
        <mapping resource="post.hbm.xml"/>  
	     
    </session-factory>  
  
</hibernate-configuration>  